body {
  margin: 0;
  font-family: 'Elegant';
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
  font-weight: normal;
  background-color: #101825;
}

code {
  font-family: 'Elegant';
  line-height: 1.15;
  font-size: 1.2rem;
  font-weight: normal;
}